<nav class="side-menu">
<p>サイドメニュー</p>
  <ul>
    <li><%= link_to "リンク1", "#" %></li>
    <li><%= link_to "リンク2", "#" %></li>
    <li><%= link_to "リンク3", "#" %></li>
    <li><%= link_to "リンク4", "#" %></li>
  </ul>
</nav>
